<app-header></app-header>
<div class="order-details">
    <span class="order-id d-flex justify-content-between  w-75">
        <span class="d-flex align-items-center" >
            <img src="../../../assets/images/lessthan.svg" alt="">
            <h1 class="m-0 ms-4"><b>(Order #1323w53)</b></h1>
        </span>
    <a href="">Help?</a>
    </span>
    <div class="order-map row mt-4">
        <section class="map d-flex col-9">
            <img class="" src="../../../assets/images/map.svg" alt="">
            <div class="d-flex flex-column">
                <div class="order-placed d-flex align-items-center">
                    <img src="../../../assets/images/order-list.svg" alt="">
                    <span class="ms-3">
                        <h3 class="m-0"><b>Order Placed</b></h3>
                        <p class="m-0">Restaurant received your order</p>
                    </span>
                </div>
                <div class="order-processed  align-items-center">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/order-processed.svg" alt="">
                        <span class="ms-3">
                            <h3 class="m-0"><b>Order Processed</b></h3>
                            <p class="m-0">We are preparing your order.</p>
                        </span>
                    </span>
                    <hr>
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/user-icon.svg" alt="">
                        <label class="ms-3 m-0"><b>We’re assigning the driver...</b></label>
                    </span>
                </div>
                <div class="driver-assigned align-items-center">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/order-processed.svg" alt="">
                        <span class="ms-3">
                            <h3 class="m-0"><b>Order Processed</b></h3>
                            <p class="m-0">We are preparing your order.</p>
                        </span>
                    </span>
                    <hr>
                    <span class="d-flex flex-column ">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/Oval.png" alt="">
                            <span class="ms-3">
                                <h3 class="m-0"><b>Jackson Lopez</b></h3>
                                <p class="m-0">Jackson can speak English. </p>
                            </span>
                    </span>
                    <span class="d-flex  mt-3 ">
                            <span class="contact-info d-flex">
                                <img src="../../../assets/images/call.svg" alt="">
                                <label class="ms-3" for=""><b>Call</b></label>
                            </span>
                    <span class="contact-info d-flex ms-4">
                                <img src="../../../assets/images/message-icon.svg" alt="">
                                <label class="ms-3" for=""><b>Message</b></label>
                            </span>
                    </span>
                    </span>
                </div>
                <div class="driver-assigned align-items-center">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/order-ready.svg" alt="">
                        <span class="ms-3">
                            <h3 class="m-0"><b>Ready to Pickup</b></h3>
                            <p class="m-0">Order #142e34 from mixstreet.</p>
                        </span>
                    </span>
                    <hr>
                    <span class="d-flex flex-column ">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/Oval.png" alt="">
                            <span class="ms-3">
                                <h3 class="m-0"><b>Jackson Lopez</b></h3>
                                <p class="m-0">Jackson can speak English. </p>
                            </span>
                    </span>
                    <span class="d-flex  mt-3 ">
                            <span class="contact-info d-flex">
                                <img src="../../../assets/images/call.svg" alt="">
                                <label class="ms-3" for=""><b>Call</b></label>
                            </span>
                    <span class="contact-info d-flex ms-4">
                                <img src="../../../assets/images/message-icon.svg" alt="">
                                <label class="ms-3" for=""><b>Message</b></label>
                            </span>
                    </span>
                    </span>
                </div>
                <div class="driver-assigned align-items-center">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/route.svg" alt="">
                            <h3 class="m-0 ms-3"><b>Food enroute</b></h3>
                            <button class="ms-4">35 Min</button>
                    </span>
                    <hr>
                    <span class="d-flex flex-column ">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/Oval.png" alt="">
                            <span class="ms-3">
                                <h3 class="m-0"><b>Jackson Lopez</b></h3>
                                <p class="m-0">Jackson can speak English. </p>
                            </span>
                    </span>
                    <span class="d-flex  mt-3 ">
                            <span class="contact-info d-flex">
                                <img src="../../../assets/images/call.svg" alt="">
                                <label class="ms-3" for=""><b>Call</b></label>
                            </span>
                    <span class="contact-info d-flex ms-4">
                                <img src="../../../assets/images/message-icon.svg" alt="">
                                <label class="ms-3" for=""><b>Message</b></label>
                            </span>
                    </span>
                    </span>
                </div>

            </div>

        </section>
        <section class="order col-3">
            <div class="cart-detail">
                <span class="d-flex justify-content-between align-items-center">
                    <span class="d-flex align-items-center">
                        <img class="restaurant-image" src="../../../assets/images/mixstreet.png" height="70" width="70" alt="">
                        <span class="ms-3">
                            <h3 class="m-0"><b>Mixstreet cafe</b></h3>
                            <p class="m-0">2 items | ETA: 2 hrs</p>
                        </span>
                </span>
                <img src="../../../assets/images/call-icon.svg" alt="">
                </span>
                <div class="delivery-address mt-4">
                    <span class="d-flex align-items-start">
                        <img src="../../../assets/images/location (2).svg" alt="" >
                        <span class="ms-4">
                            <h3 class="m-0"><b>Delivery Address</b></h3>
                            <p class="m-0 mt-2">Home Address</p>
                            <p class="m-0">Karnataka Vidhana Soudha</p>
                        </span>
                    </span>
                </div>
                <section class="d-flex justify-content-between mt-4">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/veg-icon.svg" alt="">
                        <span class="ms-4">
                            <h3 class="m-0"><b>2x  Nutella Waffle</b></h3>
                            <p class="m-0">Medium</p>
                        </span>
                    </span>
                    <span class="d-flex">
                        <p class="m-0 ms-2">₹130</p>
                    </span>
                </section>
                <section class="d-flex justify-content-between mt-4">
                    <span class="d-flex">
                        <img src="../../../assets/images/veg-icon.svg" alt="">
                        <span class="ms-4 align-items-start">
                            <h3 class="m-0"><b>1x  Veg. Burger with Noodles</b></h3>
                            <p class="m-0">Regular</p>
                        </span>
                    </span>
                    <span class="d-flex">
                        <p class="m-0 ms-2">₹130</p>
                    </span>
                </section>
                <p class="customisable mt-2 mb-4 ms-4"><b>Customised</b></p>
                <hr>
                <h1 class="mt-5"><b>Billing summary</b></h1>
                <div>
                    <span class="d-flex justify-content-between">
                        <p>Item Total</p>
                        <p>₹683</p>
                    </span>
                    <span class="d-flex justify-content-between">
                        <p class="offer">Offer Discount</p>
                        <p class="offer">- ₹120</p>
                    </span>
                    <span class="d-flex justify-content-between">
                        <p>Taxes</p>
                        <p>₹12</p>
                    </span>
                </div>

                <hr>
                <div class="w-100">
                    <span class="d-flex justify-content-between">
                        <h2>Total Amount</h2>
                        <h2><b>₹575.00</b></h2>
                    </span>
                    <p class="m-0">Paid with VISA Card **72</p>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="order-feedback-details">
    <span class="order-id d-flex justify-content-between  w-75">
        <span class="d-flex align-items-center" >
            <img src="../../../assets/images/lessthan.svg" alt="">
            <h1 class="m-0 ms-4"><b>(Order #1323w53)</b></h1>
        </span>
    <a href="">Help?</a>
    </span>
    <div class="order-feedback row mt-4">
        <section class="feedback d-flex flex-column align-items-center col-9">
            <h2><b>How was the food?</b></h2>
            <p>Let us know if you like the food or not?</p>
            <div class="d-flex">
                <span class="happy d-flex flex-column">
                    <img src="../../../assets/images/happy-emoji.svg" alt="" height="80" width="106">
                    <h2 class="mt-4"><b>It was great!</b></h2>
                </span>
                <span class="sad d-flex flex-column ms-4">
                    <img src="../../../assets/images/sad-emoji.svg" alt="" height="80" width="106">
                    <h2 class="mt-4"><b>Could be better...</b></h2>
                </span>
            </div>
            <input class="mt-4" type="text" placeholder="Describe your experience">
            <p class="note mt-3">*Your feedback matters. Help both the service provider and us to improve our services. </p>
        </section>

    </div>
</div>