<div class="payment-refund-main">
    <div class="payment-refund-main__content">
        <div class="payment-refunds">
            <h1>Payment & Refunds</h1>
            <div class="wallet w-75">
                <p>Wallet</p>
                <div class="payment-option">
                    <span class="d-flex">
                    <img src="../../../assets/images/apple-pay.svg" alt="">
                    <label for="" class="ms-4">Apple Pay</label>
                </span >
                    <span class="d-flex mt-4">
                    <img src="../../../assets/images/paytm.svg" alt="">
                    <label for="" class="ms-4">Paytm</label>
                </span>
                </div>
                <p class="mt-4">Saved payment method</p>
                <div class="saved-payment">
                    <span class="d-flex justify-content-between mt-3">
                    <span class="d-flex align-items-center">
                        <img class="mt-2" src="../../../assets/images/visa.svg" alt="">
                        <span class="">
                            <h3 class="m-0 ms-4">VISA | ** 2287</h3>
                            <span class="d-flex flex-column">
                                <label class="ms-4 m-0">Suman Mishra</label>
                                <label class="customisable ms-4">Expires 06/2022</label>
                            </span>
                    </span>
                    </span>
                    <img src="../../../assets/images/delete-icon.svg" alt="">
                    </span>
                    <span class="d-flex align-items-center justify-content-between mt-3">
                    <span class="d-flex align-items-center">
                        <img class="mt-2" src="../../../assets/images/mastercard.svg" alt="">
                            <h3 class="m-0 ms-4">MasterCard (** 7163)</h3>
                            
                </span>
                    <img src="../../../assets/images/delete-icon.svg" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>