<div class="manage-address-main">
    <div class="manage-address-main__content w-75">
        <h1>Manage address</h1>
        <section class="address">
            <ul class="d-flex flex-wrap ">
                <li class="add-new d-flex align-items-center justify-content-center" [routerLink]="'/add-address'">
                    <img src="../../../assets/images/add-address.svg" alt="">
                    <h4 class="m-0 ms-3"><b>Add new address</b></h4>
                </li>
                <li>
                    <span class="d-flex justify-content-between">
                                <span class="d-flex align-items-center">
                                    <img src="../../../assets/images/home-add-icon.svg" alt="">
                                    <span class="d-flex align-items-center ms-3">
                                        <p class="m-0">ETA: </p>
                                        <h5 class="ms-1 m-0">24 Mins</h5>
                                    </span>
                    </span>
                    <a href="">Edit</a>
                    </span>
                    <p class="full-address mt-4 w-75">House No 1516 Phase 5, Phase 5, Sector 59, Sahibzada Ajit Singh Nagar, Punjab, India</p>
                </li>
                <li>
                    <span class="d-flex justify-content-between">
                                <span class="d-flex align-items-center">
                                    <img src="../../../assets/images/other-add-icon.svg" alt="">
                                    <span class="d-flex align-items-center ms-3">
                                        <p class="m-0">ETA: </p>
                                        <h5 class="ms-1 m-0">24 Mins</h5>
                                    </span>
                    </span>
                    <a href="">Edit</a>
                    </span>
                    <p class="full-address mt-4 w-75">House No 1516 Phase 5, Phase 5, Sector 59, Sahibzada Ajit Singh Nagar, Punjab, India</p>
                </li>
                <li>
                    <span class="d-flex justify-content-between">
                                <span class="d-flex align-items-center">
                                    <img src="../../../assets/images/work-add-icon.svg" alt="">
                                    <span class="d-flex align-items-center ms-3">
                                        <p class="m-0">ETA: </p>
                                        <h5 class="ms-1 m-0">24 Mins</h5>
                                    </span>
                    </span>
                    <a href="">Edit</a>
                    </span>
                    <p class="full-address mt-4 w-75">House No 1516 Phase 5, Phase 5, Sector 59, Sahibzada Ajit Singh Nagar, Punjab, India</p>
                </li>
            </ul>
        </section>
    </div>
</div>