<div class="my-order-main">
    <div class="my-order-main__content w-100">
        <h1>My orders</h1>
        <mat-tab-group>
            <mat-tab label="All">
                <div class="orders d-flex flex-wrap gap-2">
                    <section class="order-detail">
                        <div class="restaurant-detail d-flex  w-100">
                            <span class="d-flex ">
                                <img src="../../../../assets/images/burger-1 (1).png" alt="">
                                <div class="">
                                <span class="d-flex justify-content-between mt-1 ms-3 w-100">
                                    <label for="" class="restaurant-name">Amrit Sweets</label>
                                    <span class="d-flex ">
                                        <img src="../../../../assets/images/in-progress-icon.svg" alt="" height="16" width="16">
                                        <label for="" class="in-progress ms-2">In process</label>
                                    </span>
                            </span>
                            <span class="d-flex flex-column ms-3">
                                <label for="" class="restaurant-address mt-3">Gazipur</label>
                                <label for="" class="order-id-date mt-2">Order #1237584747562 | Mon, Oct 12, 9:21 PM</label>
                            </span>
                        </div>
                        </span>
                </div>

                <div class="order-information">
                    <span class="d-flex justify-content-between">
                        <label for="" class="order-items">2x  Nutella Waffle, 1x  Veg. Burger with Noodles</label>
                        <label for="" class="total-amount">Total paid: ₹130</label>
                    </span>
                    <button class="mt-4">Repeat order</button>
                </div>
                </section>
                <section class="order-detail">
                    <div class="restaurant-detail d-flex  w-100">
                        <span class="d-flex ">
                            <img src="../../../../assets/images/burger-1 (2).png" alt="">
                            <div class="">
                            <span class="d-flex justify-content-between mt-1 ms-3 w-100">
                                <label for="" class="restaurant-name">Amrit Sweets</label>
                                <span class="d-flex ">
                                    <img src="../../../../assets/images/in-progress-icon.svg" alt="" height="16" width="16">
                                    <label for="" class="in-progress ms-2">In process</label>
                                </span>
                        </span>
                        <span class="d-flex flex-column ms-3">
                            <label for="" class="restaurant-address mt-3">Gazipur</label>
                            <label for="" class="order-id-date mt-2">Order #1237584747562 | Mon, Oct 12, 9:21 PM</label>
                        </span>
                    </div>
                    </span>
    </div>

    <div class="order-information">
        <span class="d-flex justify-content-between">
                    <label for="" class="order-items">2x  Nutella Waffle, 1x  Veg. Burger with Noodles</label>
                    <label for="" class="total-amount">Total paid: ₹130</label>
                </span>
        <button class="mt-4">Repeat order</button>
    </div>
    </section>
    <section class="order-detail">
        <div class="restaurant-detail d-flex  w-100">
            <span class="d-flex ">
                <img src="../../../../assets/images/burger-1 (3).png" alt="">
                <div class="">
                <span class="d-flex justify-content-between mt-1 ms-3 w-100">
                    <label for="" class="restaurant-name">Amrit Sweets</label>
                    <span class="d-flex ">
                        <img src="../../../../assets/images/cancelled.svg" alt="" height="16" width="16">
                        <label for="" class="cancelled ms-2">Cancelled</label>
                    </span>
            </span>
            <span class="d-flex flex-column ms-3">
                <label for="" class="restaurant-address mt-3">Gazipur</label>
                <label for="" class="order-id-date mt-2">Order #1237584747562 | Mon, Oct 12, 9:21 PM</label>
            </span>
        </div>
        </span>
</div>

<div class="order-information">
    <span class="d-flex justify-content-between">
        <label for="" class="order-items">2x  Nutella Waffle, 1x  Veg. Burger with Noodles</label>
    </span>
    <button class="mt-4">Repeat order</button>
</div>
</section>
<section class="order-detail">
    <div class="restaurant-detail d-flex  w-100">
        <span class="d-flex ">
            <img src="../../../../assets/images/burger-1 (2).png" alt="">
            <div class="">
            <span class="d-flex justify-content-between mt-1 ms-3 w-100">
                <label for="" class="restaurant-name">Amrit Sweets</label>
                <span class="d-flex ">
                    <img src="../../../../assets/images/in-progress-icon.svg" alt="" height="16" width="16">
                    <label for="" class="in-progress ms-2">In process</label>
                </span>
        </span>
        <span class="d-flex flex-column ms-3">
            <label for="" class="restaurant-address mt-3">Gazipur</label>
            <label for="" class="order-id-date mt-2">Order #1237584747562 | Mon, Oct 12, 9:21 PM</label>
        </span>
    </div>
    </span>
    </div>

    <div class="order-information">
        <span class="d-flex justify-content-between">
    <label for="" class="order-items">2x  Nutella Waffle, 1x  Veg. Burger with Noodles</label>
    <label for="" class="total-amount">Total paid: ₹130</label>
</span>
        <span class="d-flex">
    <button class="mt-4">Repeat order</button>
    <button class="mt-4 ms-4">Rate order</button>
</span>

    </div>
</section>
</div>
</mat-tab>
<mat-tab label="Food"></mat-tab>
<mat-tab label="Grocery"></mat-tab>
<mat-tab label="Pick & drop"></mat-tab>
<mat-tab label="Urban services"></mat-tab>
</mat-tab-group>
</div>
</div>