<div class="speedyy-wallet-main">
    <div class="speedyy-wallet-main__content">
        <div class="speedyy-wallet w-75">
            <h1>Speedyy wallet</h1>
            <div class="total-balance d-flex flex-column ">
                <label for="" class="">Total balance</label>
                <label for="" class="amount mt-4 ">₹32</label>
                <span class="d-flex d-flex align-items-center mt-5">
                    <img src="../../../assets/images/information-icon.svg" alt="">
                    <p class="m-0 ms-3">Wallet money cannot be transferred to your bank account</p>
                </span>
            </div>
            <div class="transactions mt-5">
                <span class="d-flex justify-content-between">
                    <h2>Transactions</h2>
                    <span class="date d-flex align-items-center">
                        <label for="">Today</label>
                        <img class="ms-2" src="../../../assets/images/down-arrow.svg" alt="">
                    </span>
                </span>
                <div class="transaction-detail d-flex align-items-center justify-content-between">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/out-going.svg" alt="">
                        <span>
                            <label for="" class="ms-3">Mixstreet</label>
                            <p class="ms-3 m-0 mt-1">12:45 pm</p>
                        </span>
                    </span>
                    <label for="">-₹12</label>
                </div>
                <div class="transaction-detail d-flex align-items-center justify-content-between mt-4">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/in-coming.svg" alt="">
                        <span>
                            <label for="" class="ms-3">App referral bonus</label>
                            <p class="ms-3 m-0 mt-1">2:15 pm</p>
                        </span>
                    </span>
                    <span class="d-flex flex-column text-end">
                        <label for="" class="incoming">+₹5</label>
                        <label for="" class="promotional">Promotional </label>
                    </span>
                </div>
                <div class="transaction-detail d-flex align-items-center justify-content-between mt-4">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/out-going.svg" alt="">
                        <span>
                            <label for="" class="ms-3">Mixstreet</label>
                            <p class="ms-3 m-0 mt-1">12:45 pm</p>
                        </span>
                    </span>
                    <label for="">-₹12</label>
                </div>
                <div class="transaction-detail d-flex align-items-center justify-content-between mt-4">
                    <span class="d-flex align-items-center">
                        <img src="../../../assets/images/in-coming.svg" alt="">
                        <span>
                            <label for="" class="ms-3">App referral bonus</label>
                            <p class="ms-3 m-0 mt-1">2:15 pm</p>
                        </span>
                    </span>
                    <span class="d-flex flex-column text-end">
                        <label for="" class="incoming">+₹5</label>
                        <label for="" class="promotional">Promotional </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>