<div class="my-wishlist-main">
    <div class="my-wishlist-main__content">
        <div class="my-wishlist w-75">
            <h1>My Wishlist</h1>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="ALL">
                    <div class="item d-flex justify-content-between mt-4">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/dress.png" alt="">
                            <span class="d-flex flex-column ms-3">
                            <label for="" class="item-name">Pepe Jeans</label>
                            <span class="d-flex mt-2">
                                <label for="" class="price">₹200</label>
                                <label for="" class="discount-amount ms-2">₹200</label>
                                <label for="" class="discount-percentage ms-2">20%off</label>
                            </span>
                        </span>
                        </span>
                        <img src="../../../assets/images/delete-icon.svg" alt="">
                    </div>
                    <div class="item d-flex justify-content-between mt-4">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/dress-.png" alt="">
                            <span class="d-flex flex-column ms-3">
                            <label for="" class="item-name">Pepe Jeans</label>
                            <span class="d-flex mt-2">
                                <label for="" class="price">₹200</label>
                                <label for="" class="discount-amount ms-2">₹200</label>
                                <label for="" class="discount-percentage ms-2">20%off</label>
                            </span>
                        </span>
                        </span>
                        <img src="../../../assets/images/delete-icon.svg" alt="">
                    </div>
                    <div class="item d-flex justify-content-between mt-4">
                        <span class="d-flex align-items-center">
                            <img src="../../../assets/images/pepe-jeans.png" alt="">
                            <span class="d-flex flex-column ms-3">
                            <label for="" class="item-name">Pepe Jeans</label>
                            <span class="d-flex mt-2">
                                <label for="" class="price">₹200</label>
                                <label for="" class="discount-amount ms-2">₹200</label>
                                <label for="" class="discount-percentage ms-2">20%off</label>
                            </span>
                        </span>
                        </span>
                        <img src="../../../assets/images/delete-icon.svg" alt="">
                    </div>
                </mat-tab>
                <mat-tab label="Electronics"></mat-tab>
                <mat-tab label="Lifestyle"></mat-tab>
                <mat-tab label="Pet Shop"></mat-tab>
                <mat-tab label="Pharma"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>