<app-header></app-header>
<div class="order-detail-main">
    <div class="row">
        <section class="col-1"></section>
        <section class="col-6">
            <span class="d-flex align-items-center">
                <img src="../../../assets/images/lessthan.svg" alt="">
                <label for="" class="order-id ms-3">(Order #1323w53)</label>
            </span>
        </section>
    </div>
    <div class="order-detail-content row w-100 mt-4">
        <section class="col-1"></section>
        <section class="order-information col-6">
            <div class="delivered d-flex align-items-center justify-content-between">
                <span class="">
                    <img src="../../../assets/images/done.svg" alt="">
                    <label for="" class="ms-3">This order has been delivered</label>
                </span>
                <label for="" class="">Oct 12, 9:21 PM</label>
            </div>
            <div class="delivery-address mt-4">
                <span class="d-flex justify-content-between">
                    <span class="d-flex">
                        <img src="../../../assets/images/location (2).svg" alt="" height="24" width="18">
                        <span>
                            <h3 class="m-0 ms-4"><b>Delivery Address</b></h3>
                            <p class="ms-4 mt-2">Karnataka Vidhana Soudha</p>
                        </span>
                </span>
                <label for="">Home Address</label>
                </span>
            </div>
            <div class="order-items mt-4">
                <span class="d-flex justify-content-between">
                    <span class="d-flex">
                        <img class="mt-2" src="../../../assets/images/veg.png" alt="" height="12" width="12">
                        <span>
                            <h3 class="m-0 ms-4"><b>1x  Veg. Burger with Noodles</b></h3>
                            <p class="ms-4">Regular</p>
                            <span class="d-flex align-items-center ms-4">
                                <label class="customisable">Customisable</label>
                                <img class="ms-1" src="../../../assets/images/down-arrow.svg" alt="">
                            </span>
                </span>
                </span>
                <p for="">₹130</p>
                </span>
                <span class="d-flex justify-content-between mt-4">
                    <span class="d-flex">
                        <img class="mt-2" src="../../../assets/images/veg.png" alt="" height="12" width="12">
                        <span>
                            <h3 class="m-0 ms-4"><b>2x  Nutella Waffle</b></h3>
                            <p class="ms-4">Medium</p>      
                </span>
                </span>
                <p for="">₹130</p>
                </span>
            </div>
            <div class="bill-summary mt-4">
                <div class="order-amount">
                    <h1 class="">Billing summary</h1>
                    <div>
                        <span class="d-flex justify-content-between">
                        <p>Item Total</p>
                        <p>₹683</p>
                    </span>
                        <span class="d-flex justify-content-between">
                        <p class="offer">Offer Discount</p>
                        <p class="offer">- ₹120</p>
                    </span>
                        <span class="d-flex justify-content-between">
                        <p>Taxes</p>
                        <p>₹12</p>
                    </span>
                    </div>
                </div>
                <div class="w-100 mt-3">
                    <span class="d-flex justify-content-between">
                        <label class="total-amount">Total Amount</label>
                        <label class="total-price">₹575.00</label>
                    </span>
                    <p class="m-0 mt-3">Paid with VISA Card **72</p>
                </div>
            </div>
            <section class="order-information-cancelled mt-4">
                <div class="delivered d-flex align-items-center justify-content-between">
                    <span class="">
                        <img src="../../../assets/images/cancelled.svg" alt="">
                        <label for="" class="ms-3">This order has been cancelled</label>
                    </span>
                    <label for="" class="">Oct 12, 9:21 PM</label>
                </div>
                <div class="refund-status mt-4">
                    <h2>Refund status</h2>
                    <div class="refund-status-detail mt-2">
                        <div class="refund-amount d-flex">
                            <img src="../../../assets/images/refund-status-icon.svg" alt="">
                            <span class="ms-3">
                                <h3 class="m-0">Refund of ₹575.00 sent to your bank</h3>
                                <label for="">Refund completed on 19 Nov, 2021</label>
                            </span>
                        </div>
                        <div class="refund-track">
                            <mat-vertical-stepper>
                                <mat-step label="">
                                    <mat-label></mat-label>
                                </mat-step>
                                <mat-step>
                                    <mat-label>Refund processed by your bank</mat-label>
                                </mat-step>
                                <mat-step>
                                </mat-step>
                            </mat-vertical-stepper>
                            <span class="reference-number d-flex align-items-center justify-content-between">
                            <span>
                                <label for="">Refund reference number (RRN)</label>
                                <h4 class="mt-2 m-0">1234568675644964</h4>
                            </span>
                            <img src="../../../assets/images/copy-icon.svg" alt="">
                            </span>
                            <p class="mt-3">Your refund should reflect in your account by now. In case of any issues, Please contact your bank’s customer and share the RRN number.</p>
                        </div>
                    </div>
                </div>
                <div class="delivery-address mt-4">
                    <span class="d-flex justify-content-between">
                        <span class="d-flex">
                            <img src="../../../assets/images/location (2).svg" alt="" height="24" width="18">
                            <span>
                                <h3 class="m-0 ms-4"><b>Delivery Address</b></h3>
                                <p class="ms-4 mt-2">Karnataka Vidhana Soudha</p>
                            </span>
                    </span>
                    <label for="">Home Address</label>
                    </span>
                </div>
                <div class="order-items mt-4">
                    <span class="d-flex justify-content-between">
                        <span class="d-flex">
                            <img class="mt-2" src="../../../assets/images/veg.png" alt="" height="12" width="12">
                            <span>
                                <h3 class="m-0 ms-4"><b>1x  Veg. Burger with Noodles</b></h3>
                                <p class="ms-4">Regular</p>
                                <span class="d-flex align-items-center ms-4">
                                    <label class="customisable">Customisable</label>
                                    <img class="ms-1" src="../../../assets/images/down-arrow.svg" alt="">
                                </span>
                    </span>
                    </span>
                    <p for="">₹130</p>
                    </span>
                    <span class="d-flex justify-content-between mt-4">
                        <span class="d-flex">
                            <img class="mt-2" src="../../../assets/images/veg.png" alt="" height="12" width="12">
                            <span>
                                <h3 class="m-0 ms-4"><b>2x  Nutella Waffle</b></h3>
                                <p class="ms-4">Medium</p>      
                    </span>
                    </span>
                    <p for="">₹130</p>
                    </span>
                </div>
                <div class="bill-summary mt-4">
                    <div class="order-amount">
                        <h1 class="">Billing summary</h1>
                        <div>
                            <span class="d-flex justify-content-between">
                            <p>Item Total</p>
                            <p>₹683</p>
                        </span>
                            <span class="d-flex justify-content-between">
                            <p class="offer">Offer Discount</p>
                            <p class="offer">- ₹120</p>
                        </span>
                            <span class="d-flex justify-content-between">
                            <p>Taxes</p>
                            <p>₹12</p>
                        </span>
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <span class="d-flex justify-content-between">
                            <label class="total-amount">Total Amount</label>
                            <label class="total-price">₹575.00</label>
                        </span>
                        <p class="m-0 mt-3">Paid with VISA Card **72</p>
                    </div>
                </div>
            </section>
        </section>
        <section class="restaurant-information col-4">
            <div class="restaurant-name d-flex align-items-center w-100">
                <img src="../../../assets/images/mixstreet--.png" alt="" height="106" width="126">
                <span class="ms-3">
                    <h2 class="m-0"><b>Mixstreet cafe</b></h2>
                    <p class="m-0 mt-2">2 items | ETA: 2 hrs</p>
                    <span class="d-flex align-items-center mt-2">
                        <img src="../../../assets/images/like.svg" alt="">
                        <label class="ms-3 "><b>38%</b></label>
                    </span>
                </span>
            </div>
            <div class="help mt-5 w-100 ">
                <label for="" class="heading-text">Need help with this booking?</label>
                <span class="d-flex justify-content-between mt-4">
                    <span>
                        <img src="../../../assets/images/help-question-mark.svg" alt="">
                        <label for="" class="ms-3">Visit Help Center</label>
                    </span>
                <img src="../../../assets/images/greaterthan.svg" alt="">
                </span>
                <hr>
                <span class="d-flex justify-content-between mt-4">
                    <span>
                        <img src="../../../assets/images/chat.svg" alt="">
                        <label for="" class="ms-3">Chat with our support team</label>
                    </span>
                <img src="../../../assets/images/greaterthan.svg" alt="">
                </span>
            </div>
            <div class="mt-4 w-100">
                <button class="repeat-order-btn w-100">Repeat Order</button>
            </div>
        </section>
    </div>
</div>