<!-- <app-header></app-header> -->
<div class="login-main">
    <div class="login-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="box-form  mt-5">
            <div class="header d-flex flex-column align-items-center">
                <img class="company-logo" src="../../../../assets/images/speedyy-gif.gif" alt="Speedyy logo is here" height="120" width="120">
                <header class="heading mt-4">Get Readyy for Speedyy</header>
            </div>
            <form [formGroup]="registerForm" class="register-form">
                <label class="input-heading" for="">Enter Mobile Number</label>
                <div class="mobile-number-details d-flex">
                    <div class="custom-code-field row" appearance="outline">
                        <i class="flag-icon flag-icon-in col-4"></i>
                        <input class="country-code col-4" type="text" matInput formControlName="userCountryCode" placeholder="+91" />
                    </div>
                    <div class="input-phn-field">
                        <mat-form-field class="custom-mobile-field" appearance="outline">
                            <input matInput formControlName="phone" type="text" placeholder="Enter your mobile number">
                        </mat-form-field>
                    </div>
                </div>
                <button (click)="onSubmit()" class="custom-btn mt-3" [routerLink]="'/login/otp'" mat-flat-button>SEND OTP</button>
            </form>
            <a class="a-link d-flex justify-content-end mt-3" title="Register" [routerLink]="'/login/register'">Not a user? Register here</a>
        </div>
    </div>
</div>


<!-- <app-footer></app-footer> -->
<!-- <div class="login-main">
    <div class="login-wrapper d-flex justify-content-center align-items-center">
        <div class="box-form">
            <div class="left d-none d-lg-block d-xl-block">
                <img class="hero-img w-100 h-100" src="assets/styles/images/pancakes.jpg" alt="Speedyy Intro Image" />
            </div>
            <div class="right">
                <div class="headers">
                    <img class="company-logo" src="assets/styles/media/logo.svg" alt="Logo" />
                    <header class="heading mt-4">Get listed on Speedyy</header>
                    <p class="mt-4">- Partner With Speedyy -</p>
                </div>
                <form [formGroup]="loginForm" autocomplete="off" class="login-form">
                    <section *ngIf="!otpSent">
                        <label class="input-heading" for="email">Enter Email</label>
                        <div class="input-field">
                            <mat-form-field class="custom-email-field" appearance="outline">
                                <input matInput formControlName="userEmail" type="email" placeholder="Enter email" />
                            </mat-form-field>
                            <app-form-error-msg [control]="loginForm.controls.userEmail"></app-form-error-msg>
                        </div>
                        <label class="input-heading" for="mobileNumber">Mobile Number</label>
                        <div class="mobile-number-details d-flex">
                            <div class="custom-code-field row" appearance="outline">
                                <i class="flag-icon flag-icon-in col-6"></i>
                                <input class="country-code col-4" type="text" matInput formControlName="userCountryCode" placeholder="+91" />
                            </div>
                            <div class="input-phn-field">
                                <mat-form-field class="custom-mobile-field" appearance="outline">
                                    <input matInput formControlName="userMobile" type="text" placeholder="Enter mobile no" />
                                </mat-form-field>
                                <app-form-error-msg [control]="loginForm.controls.userMobile"></app-form-error-msg>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="otpSent">
                        <app-otp (flag)="hideOtpForm()"></app-otp>
                    </section>
                    <button *ngIf="!otpSent" class="custom-btn mt-3" (click)="onSubmit()" mat-flat-button>
              SEND OTP
            </button>
                </form>
            </div>
        </div>

        <footer class="footer-links">
            <section class="social-links">
                <img class="footer-logo" src="assets/styles/media/footerImg.svg" alt="Speedyy Logo" />
                <a href="https://www.speedyy.com/" target="_blank">About Us</a>
                <a href="mailto:support@speedyy.com">Contact Us</a>
                <a href="mailto:support@speedyy.com">Help</a>
            </section>
        </footer>
    </div>
</div> -->