<div class="footer-main d-flex flex-column w-100">
    <div class="content d-flex justify-content-between w-100">
        <section class="social d-flex flex-column">
            <img src="../../../assets/images/speedyy-logo-black-text.svg" alt="Speedyy logo is here" height="50" width="64" />
            <p class="info mt-3">
                Speedyy connects people with great local businesses.
            </p>
            <div class="d-flex justify-content-between w-50">
                <img src="../../../assets/images/facebook.png" alt="Facebook logo is here" />
                <img src="../../../assets/images/twitter.png" alt="Twitter logo is here" />
                <img src="../../../assets/images/instagram.png" alt="Instagram logo is here" />
            </div>
            <p class="follow mt-3">FLLOW US ON</p>
        </section>
        <section class="discover">
            <h4>DISCOVER</h4>
            <p>Collections</p>
            <p>Talks</p>
            <p>Events</p>
            <p>Speedyy Blog</p>
        </section>
        <section class="business">
            <h4>FOR BUSINESS</h4>
            <p>Advertise on Speedyy</p>
            <p>Business Support</p>
            <p>Speedyy Blog for Business</p>
            <p>Advertise on Speedyy</p>
        </section>
        <section class="links">
            <h4>MORE LINKS</h4>
            <p>About Speedyy</p>
            <p>Careers</p>
            <p>Press</p>
            <p>Content Guidelines</p>
        </section>
        <section class="download-app">
            <h4>DOWNLOAD THE APP</h4>
            <div class="d-flex justify-content-between">
                <img src="../../../assets/images/appstore.svg" alt="Appstore logo is here" />
                <img src="../../../assets/images/playstore.svg" alt="Playstore logo is here" />
            </div>
        </section>
    </div>
    <div class="rights w-100 mt-4">

        <p class="d-flex align-items-center justify-content-center">
            ©2020 Speedyy Inc. All Rights Reserved.
        </p>
    </div>
</div>